.age_distr_info{
    /* margin-top:-15%; */
    /* padding: 10%; */
}
.age_distr_info h4{
    /* font-weight: bold;
    font-size: 30px; */
}
.col-md-6 .subheading{
    /* font-size: 20px; */
}
.p-2 bd-highlight  .row
{
    /* margin-top: 5px;
    text-align: left; */
}
.how-img 
{
    /* text-align: center; */
}
.how-img img{
    width: 20%;
}
.rounded-circle {
    width: 400px;
}


.col-md-6 {
    margin-bottom: 5px; 
}

