.dim-country:hover{
    fill: #F1E5AC;
}

.dim-tooltip {
    position: absolute;
    display: none;
    background-color: #2456;
    color: #fff;
    padding: 2px;
    font-size: 12px;
    font-family:Segoe UI;
}