.center-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.center-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dim-country:hover{
    fill: #F1E5AC;
}

.dim-tooltip {
    position: absolute;
    display: none;
    background-color: #2456;
    color: #fff;
    padding: 2px;
    font-size: 12px;
    font-family:Segoe UI;
}

.dim-svg {
  background: #116c70 /*#008a91*/ ;
}