body {
  margin: 0;
  padding: 0;
}

#chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#chart {
  width: 800px; /* Adjust the width of the chart container */
  height: 600px; /* Adjust the height of the chart container */
}

#chart {
  width: 100%;
  height: 100vh;
}

.tooltip {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 8px;
  font-size: 12px;
  pointer-events: none;
}